{% extends 'base_generic.html' %}


{% block title %}
Añadir departamento
{% endblock %}


{% block content %}

{% include 'includes/header.html' %}
<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Registrar departamento</h1>
        <form class="cell callout grid-x grid-margin-x" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="medium-6 cell">
                <label>Nombre:
                {{ form.name }}
                </label>
            </div>
            <div class="medium-6 cell">
                <label>Apellido:
                    {{ form.surname }}
                </label>
            </div>
            <div class="medium-6 cell">
                <label>Dirección:
                    {{ form.adress }}
                </label>
            </div>
            <div class="medium-6 cell">
                <label>Correo electrónico:
                    {{ form.email }}
                </label>
            </div>
            <div class="medium-6 cell">
                <label>Teléfono de contacto:
                    {{ form.number }}
                </label>
            </div>   
            <div class="medium-6 cell">
                <label>Imagen:
                    {{ form.image }}
                </label>
            </div>
            <div class="medium-6 cell">
                <label>Departamento:
                    {{ form.department }}
                </label>
            </div>
            <div class="medium-6 cell">
                <label>Nombre Corto:
                    {{ form.shorname }}
                </label>
            </div>
            <div class="medium-12 cell">
                <button class="button primary" type="submit">Guardar</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}